<div>
  <ul>
    <li *ngIf="localeId != 'en-US'"><a href="/en-US{{currentUrl}}" i18n="English button text in language selector@@appNavLanguageEnglish">English</a></li>
    <li *ngIf="localeId != 'es-US'"><a href="/es-US{{currentUrl}}" i18n="Spanish button text in language selector@@appNavLanguageSpanish">Español</a></li>
  </ul>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active" i18n="Home button text in the app nav@@appNavItemHome">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active" i18n="About button text in the app nav@@appNavItemAbout">About</a></li>
  </ul>
</div>
<router-outlet></router-outlet>
<footer>
  <ul id="build-info">
    <li>Version: <span class="sem-ver">{{semVer}}</span></li>
    <li *ngIf="!gitCommitHref">Commit: <span class="git-commit">unknown</span></li>
    <li *ngIf="!!gitCommitHref">Commit: <a class="git-commit" href="{{gitCommitHref}}">{{gitCommitSha | slice:0:7}}</a></li>
  </ul>
</footer>
