<div>
  <ul>
    <li *ngIf="localeId != 'en-US'"><a href="/en-US" i18n="English button text in language selector@@appNavLanguageEnglish">English</a></li>
    <li *ngIf="localeId != 'es-US'"><a href="/es-US" i18n="Spanish button text in language selector@@appNavLanguageSpanish">Spanish</a></li>
  </ul>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active" i18n="Home button text in the app nav@@appNavItemHome">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active" i18n="About button text in the app nav@@appNavItemAbout">About</a></li>
  </ul>
</div>
<router-outlet></router-outlet>
